.login-form {
    float: left;
}

/* social-auth */
.social {
    float: right;
}

.social li {
    list-style: none;
    padding: 10px 20px;
    margin: 0 0 10px 0;
}

.social li a {
    width: 100%;
    height: 100%;
    display: block;
    color: #fff !important;
}

.social li.google {
    background: #de1710;
}


/* users */
#people-list img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#people-list .user {
    width: 180px;
    float: left;
    padding: 10px;
}

#people-list .info {
    text-align: center;
}

img.user-detail {
    border-radius: 50%;
    float: left;
}

.profile-info {
    float: left;
    overflow: auto;
    margin-right: 20px;
}

.image-container {
    margin-top: 40px;
}

/* actions */
.action {
    clear: both;
    overflow: auto;
}

.action .images {
    float: left;
    margin: 0 10px 10px 0;
}

.action .date {
    font-style: italic;
    color: #ccc;
}