{% extends 'account/base.html' %}
{% load i18n %}
{% block title %}
  {% trans 'Log-in' %}
{% endblock %}
{% block account_content %}
  <h1>{% trans 'Log-in' %}</h1>
  {% if not form.errors %}
    <p>
      {% trans 'Please, use the following form to log-in' %}:
    </p>
    <p>
      {% trans "If you don't have an account" %} <a href="{% url 'account:register' %}" class="link">{% trans 'register here' %}</a>.
    </p>
  {% endif %}
  <div class="login-form">
    <form action="{% url 'account:login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p>
        <input type="submit" class="button" value="{% trans 'Log-in' %}" />
      </p>
    </form>
    <p>
      <a href="{% url 'account:password_reset' %}" class="link">{% trans 'Forgotten your password' %}?</a>
    </p>
  </div>
  <div class="social">
    <ul>
      <li class="google">
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="link">{% trans 'Sign in with Google' %}</a>
      </li>
    </ul>
  </div>
{% endblock %}
