@property --primary-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #DB5D00;
}


@property --secondary-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #9C5827;
}


@property --additional-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #00C6DB;
}

@property --optional-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #fff;
}


/* general styles */
@import url(//fonts.googleapis.com/css?family=Muli);

body {
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
}

p {
    line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Muli', sans-serif;
    font-weight: normal;
}

h1 {
    border-bottom: 1px solid #bbb;
    padding: 0 0 10px 0;
    margin: 10px 0 20px 0;
}

h2 {
    margin: 30px 0 20px;
}

ol {
    line-height: 1.5;
}

#content {
    padding: 30px 100px;
}

/* forms */
label {
    float: left;
    clear: both;
    color: #333;
    margin-bottom: 4px;
}

input,
textarea {
    clear: both;
    float: left;
    margin: 0 0 10px;
    background: #efefef;
    border: 0;
    padding: 6px 10px;
    font-size: 14px;
    resize: none;
}

.errorlist {
    color: #cc0033;
    float: left;
    clear: both;
    padding-left: 10px;
}

.helptext {
    margin: 0 0 20px 0;
    color: #aaa;
    clear: both;
    float: left;
    font-size: 13px;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table th,
table td {
    text-align: left !important;
    font-size: 14px;
    padding: 10px;
    margin: 0;
}

tbody tr:nth-child(odd) {
    background: #efefef;
}

tbody tr.subtotal {
    background: #ccc;
}

thead th,
tbody tr.total {
    background: #5993bb;
    color: #fff;
    font-weight: bold;
}

table.cart {
    margin-bottom: 40px;
}

table.cart img {
    width: 180px;
}

tbody td.num {
    text-align: right;
}

td input[type="submit"] {
    font-size: 12px;
    padding: 4px 10px;
}

form p label,
form p input {
    float: left;
    clear: both;
}

form p label {
    font-size: 14px;
    padding-bottom: 4px;
}

form p input {
    width: 300px;
    font-size: 13px;
    margin-bottom: 10px;
    padding: 10px 12px;
    border: 0;
    background: #efefef;
    color: #666;
    border-radius: 4px;
}

ul.errorlist {
    float: left;
    color: #ff0000;
    clear: both;
    font-size: 13px;
    margin: 0 0 0 10px;
    padding: 10px 0;
}

a.button.light {
    color: #666;
    background: #ededed;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* header */
#header {
    padding: 10px 100px;
    font-size: 14px;
    background: var(--primary-color);
    color: var(--optional-color);
    border-bottom: 4px solid var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .logo {
    font-family: 'Muli', sans-serif;
    color: var(--optional-color);
    font-size: 20px;
    margin-right: 100px;
}

#header ul.menu {
    display: flex;
    align-items: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

#header ul.menu li {
    padding: 4px 10px;
}

#header ul.menu li.selected a,
#header ul.menu li.selected a:hover {
    color: var(--secondary-color);
    font-weight: bold;
}

#header a {
    color: var(--optional-color);
}

#header a:hover {
    color: var(--secondary-color);
}

#header .user {
    display: flex;
    align-items: center;
}

#header .user form {
    display: inline;
}

#header .user button {
    background: none;
    color: var(--secondary-color);
    border: none;
    cursor: pointer;
    display: inline;
}

.bar {
    display: flex;
    align-items: center;
}

/* link */
a {
    text-decoration: none;
    color: var(--primary-color);
}

.link {
    color: var(--primary-color);
}

.link:hover {
    color: brightness(75%);
}

/* button */
input[type=submit],
a.button {
    font-weight: bold;
    background: var(--primary-color);
    color: var(--optional-color);
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

input[type=submit]:hover,
a.button:hover {
    background: var(--secondary-color);
}

/* messages */
ul.messages {
    margin: 10px 100px;
    padding: 0;
    list-style-type:
        none;
}

ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
    margin: 0;
    padding: 14px 20px;
    list-style: none;
    color: #fff;
}

ul.messages li.success {
    background: #81ce81;
}

ul.messages li.success a {
    color: #0ac33e;
}

ul.messages li.error {
    background: #a30029;
    color: #e9828e;
}

ul.messages li.error a {
    color: #e9828e;
}

ul.messages li.info {
    background: #faffae;
    color: #696b4e;
}

ul.messages li.info a {
    color: #1586de;
}

ul.messages li.warning {
    background: #de9404;
}

ul.messages li.warning a {
    color: #f49000;
}

ul.messages li a.close {
    margin: 0;
    float: right;
    opacity: 1;
    border: 0;
    box-shadow: none;
    text-shadow: none;
}

/* Sidebar */
#sidebar a.selected {
    filter: brightness(75%);
    font-weight: bold;
}

.separator {
    margin-left: 250px;
}

#mySidebar::-webkit-scrollbar {
    width: 7px;
    background-color: #aeaeae;
}

#mySidebar::-webkit-scrollbar-thumb {
    background-color: #cecece;
}

#mySidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9f9;
}

.side-block {
    width: 12.5%;
}

.sidebar {
    width: 250px !important;
}

.sidebar-content {
    box-shadow: inset 1px 0px 20px rgba(0, 0, 0, 0.1);
}

.menu-button {
    position: absolute;
}


/* w3 */
.overlay {
    cursor: pointer;
}

/* Content */
.main {
    display: flex;
    justify-content: center;
}

.content {
    border: solid #f9f9f9;
    width: 75%;
}

/* Recommendations */
.recommendations {
    clear: both;
}

.recommendations div {
    float: left;
}

.recommendations img {
    width: 200px
}

.recommendations p {
    clear: both;
}

.recommendations.cart {
    width: 60%;
    float: left;
    overflow: auto;
}

.recommendations.cart h3 {
    margin-top: 0;
}

.recommendations.cart .item {
    margin-right: 10px;
}

.recommendations.cart img {
    width: 120px;
}