{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
  {% trans 'Bookmark an image' %}
{% endblock %}
{% block source %}
  <link href="{% static 'css/images.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
  <h1>{% trans 'Bookmark an image' %}</h1>
  <img src="{{ request.GET.url }}" class="image-preview" />
  <form method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="{% trans 'Bookmark it' %}!" />
  </form>
{% endblock %}
