{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load blog_tags %}
{% block source %}
  <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
  <script src="{% static 'js/blog.js' %}"></script>
{% endblock %}
{% block sidebar %}
  <!-- Sidebar -->
  <div class="w3-sidebar w3-bar-block sidebar" style="display:none; z-index:5" id="mySidebar">
    <button class="w3-bar-item w3-button w3-xxlarge" onclick="w3_close()"><i>&times;</i></button>
    <a href="{% url 'blog:post_list' %}" class="w3-bar-item w3-button">{% trans 'Posts' %}</a>
    <a href="{% url 'blog:post_search' %}" class="w3-bar-item w3-button">{% trans 'Search' %}</a>
    <div class="w3-panel w3-display-container sidebar-content">
      <h2>{% trans 'My blog' %}</h2>
      <p>
        <span>{% trans 'This is my blog' %}.</span>
        {% trans "I've written" %} {% total_posts %} {% trans 'posts so far' %}
      </p>
      <p>
        <a href="{% url 'blog:post_feed' %}" class="link">{% trans 'Subscribe to my RSS feed' %}</a>
      </p>
      <h3>{% trans 'Latest posts' %}</h3>
      {% show_latest_posts 3 %}
      <h3>{% trans 'Most commented posts' %}</h3>
      {% get_most_commented_posts 3 as most_commented_posts %}
      <ul>
        {% for post in most_commented_posts %}
          <li>
            <a href="{{ post.get_absolute_url }}" class="link">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <button class="w3-xxlarge w3-button menu-button" onclick="w3_open()">&#9776;</button>
{% endblock %}
{% block content %}
  <!-- Page Content -->
  <main class="main" id="mainContent">
    <div class="side-block"></div>
    <div class="w3-overlay overlay" onclick="w3_close()" id="myOverlay"></div>
    <div id="blog_content" class="w3-container content">
      {% block blog_content %}

      {% endblock %}
    </div>
    <div class="side-block"></div>
  </main>
{% endblock %}
