{% extends 'account/base.html' %}
{% load i18n %}
{% load thumbnail %}
{% block title %}
  {{ user.get_full_name }}
{% endblock %}
{% block content %}
  <h1>{{ user.get_full_name }}</h1>
  <div class="profile-info">
    <img src="{% thumbnail user.profile.photo 180x180 %}" class="user-detail" />
  </div>
  <span class="count">
    {% blocktrans count user.followers.count as total_followers %}
    <span class="total">{{ total_followers }}</span>
    follower{% plural %}
    <span class="total">{{ total_followers }}</span>
    followers{% endblocktrans %}
  </span>
  <a href="#" data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="follow button">
    {% if request.user not in user.followers.all %}
      {% trans 'Follow' %}
    {% else %}
      {% trans 'Unfollow' %}
    {% endif %}
  </a>
  <div id="image-list" class="image-container">
    {% include 'images/image/list_images.html' with images=user.images_created.all %}
  </div>
{% endblock %}
