p.date {
    color: #868686;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic;
}

.left {
    float: left;
    margin-right: 10px;
}

/* pagination */
.pagination {
    margin: 40px 0;
    font-weight: bold;
}

/* comments */
.comment {
    padding: 10px;
}

.comment:nth-child(even) {
    background: #efefef;
}

.comment .info {
    font-weight: bold;
    font-size: 12px;
    color: var(--additional-color)
}

.tags {
    color: var(--additional-color);
}

.separator {
    margin-left: 250px;
}

.main {
    display: flex;
    justify-content: center;
}

.content {
    border: solid #f9f9f9;
    width: 75%;
}


/* sidebar */
#mySidebar::-webkit-scrollbar {
    width: 7px;
    background-color: #aeaeae;
}

#mySidebar::-webkit-scrollbar-thumb {
    background-color: #cecece;
}

#mySidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9f9;
}

.side-block {
    width: 12.5%;
}

.sidebar {
    width: 250px !important;
}

.sidebar-content {
    box-shadow: inset 1px 0px 20px rgba(0, 0, 0, 0.1);
}

.menu-button {
    position: absolute;
}


/* w3 */
.overlay {
    cursor: pointer;
}