p.date {
    color: #868686;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic;
}

.left {
    float: left;
    margin-right: 10px;
}

/* pagination */
.pagination {
    margin: 40px 0;
    font-weight: bold;
}

/* comments */
.comment {
    padding: 10px;
}

.comment:nth-child(even) {
    background: #efefef;
}

.comment .info {
    font-weight: bold;
    font-size: 12px;
    color: var(--additional-color)
}

.tags {
    color: var(--additional-color);
}