body {
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
}

h1 {
    font-weight: normal;
    border-bottom: 1px solid #bbb;
    padding: 0 0 10px 0;
}

h2 {
    font-weight: normal;
    margin: 30px 0 0;
}

p.date {
    color: #868686;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic;
}

.left {
    float: left;
    margin-right: 10px;
}

.link {
    color: #12c064;
    text-decoration: none;
}

/* pagination */
.pagination {
    margin: 40px 0;
    font-weight: bold;
}

/* forms */
label {
    float: left;
    clear: both;
    color: #333;
    margin-bottom: 4px;
}

input,
textarea {
    clear: both;
    float: left;
    margin: 0 0 10px;
    background: #ededed;
    border: 0;
    padding: 6px 10px;
    font-size: 12px;
    resize: none;
}

input[type=submit] {
    font-weight: bold;
    background: #00abff;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

.errorlist {
    color: #cc0033;
    float: left;
    clear: both;
    padding-left: 10px;
}

/* comments */
.comment {
    padding: 10px;
}

.comment:nth-child(even) {
    background: #efefef;
}

.comment .info {
    font-weight: bold;
    font-size: 12px;
    color: #666;
}

.tags {
    color: #666;
}

.separator {
    margin-left: 250px;
}

.main {
    display: flex;
    justify-content: center;
}

.content {
    border: solid #f9f9f9;
    width: 75%;
}

#mySidebar::-webkit-scrollbar {
    width: 7px;
    background-color: #aeaeae;
}

#mySidebar::-webkit-scrollbar-thumb {
    background-color: #cecece;
}

#mySidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9f9;
}

.side-block {
    width: 12.5%;
}

.sidebar {
    width: 250px !important;
}

.sidebar-content {
    box-shadow: inset 1px 0px 20px rgba(0, 0, 0, 0.1);
}

/* w3 */
.overlay {
    cursor: pointer;
}

/* button */
input[type=submit],
a.button {
    font-weight: bold;
    background: #12c064;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
}