{% load static %}
{% load account_tags %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}

      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/w3.css' %}" />
    <link href="{% static 'css/app.css' %}" rel="stylesheet" />
    {% if request.user.profile.styles %}
      <link rel="stylesheet" href="{% media request.user.profile.styles %}" />
    {% endif %}
    <script src="{% static 'js/main.js' %}"></script>
    {% block source %}

    {% endblock %}
  </head>
  <body>
    <div id="header">
      <div class="bar">
        <span class="logo">{% trans 'Bookmarks' %}</span>
        {% if request.user.is_authenticated %}
          <ul class="menu">
            <li id="dashboard">
              <a href="{% url 'account:dashboard' %}">{% trans 'My dashboard' %}</a>
            </li>
            <li id="images">
              <a href="{% url 'images:create' %}">{% trans 'Images' %}</a>
            </li>
            <li id="people">
              <a href="#">{% trans 'People' %}</a>
            </li>
            <li id="blog">
              <a href="{% url 'blog:post_list' %}">{% trans 'Blog' %}</a>
            </li>
          </ul>
        {% endif %}
      </div>
      <span class="user">
        {% if request.user.is_authenticated %}
          <span>{% trans 'Hello' %}, {{ request.user.first_name|default:request.user.username }}!</span>
          <form action="{% url 'account:logout' %}" method="post">
            <button type="submit">{% trans 'Logout' %}</button>
            {% csrf_token %}
          </form>
        {% else %}
          <a href="{% url 'account:login' %}">{% trans 'Log-in' %}</a>
        {% endif %}
      </span>
    </div>
    <div id="sidebar">
      {% block sidebar %}

      {% endblock %}
    </div>
    <div id="content">
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li class="{{ message.tags }}">
              {{ message|safe }}
              <a href="#" class="close link">x</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% block content %}

      {% endblock %}
    </div>
  </body>
</html>
